players/*
worlds/*
plugins/*
bin/*
timings/*
*.log
*.txt
*.phar
server.properties
/pocketmine.yml
memoryDump_*/*
resource_packs/
.idea/
nbproject/*
Thumbs.db
Desktop.ini
.DS_Store
/nbproject/private/
/docs/build/
!/docs/requirements.txt
vendor/*
test_data/*