*.xml
*.iml
*.xml___jb_old___
*.xml___jb_tmp___
*.php___jb_old___
*.txt
pocketmine.yml
*.properties
turanic.yml
players/*
worlds/*
plugins/*
bin/*
timings/*
*.log
*.phar
crashdumps/*
resource_packs/*
*.db
*.sqlite3

.idea/
nbproject/*

Thumbs.db

Desktop.ini

.DS_Store
/nbproject/private/

/docs/build/
!/docs/requirements.txt
.project
*.php___jb_tmp___

vendor/*