players/*
worlds/*
plugins/*
bin/*
timings/*
*.log
*.phar
server.properties
pocketmine.yml
*.txt
genisys.yml
crashdumps/*
resource_packs/*
*.db
*.sqlite3

.idea/
nbproject/*

Thumbs.db

Desktop.ini

.DS_Store
/nbproject/private/

/docs/build/
!/docs/requirements.txt
.project
